.card {
    margin: 2rem 2rem 2rem 0;
    background: #fff;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;

    
}
.card__body {
    padding: 1.5rem;
    width: 250px;
    height: 100;
} 
.card__front,.card__back{
  
    display: block;    
    backface-visibility: visible;
}
.card:hover {
  /* background: #fff; */
}
.card:hover  {
    transform: rotateY(180deg);    
}

.card:hover .card__front{
    display: none;    
}
.card:hover .card__back{
    transition-delay: 0.5s;
    display: block;    
}

.card__back{
    position: absolute;
    display: none;
    align-content: center;
    transform: rotateY(180deg);
    backface-visibility: visible;

}

.card__title {
    font-weight: 800;
    font-size: 1.5rem;
}

.card__image {
    display: flex;
    justify-content: flex-end;
}
.card__image img {
    border-radius: 50%;
}